.container
{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
 }

 #home
 {
   position: fixed;
   right: 50px;
   top: 50px;
 }


.label_player_1
{
  background-color: #F0CA4D;
  width: 700px;
  margin: 20px;
  height: 130px;
  position: relative;
  border-top-right-radius:60px;
  border-bottom-right-radius:60px;
  box-shadow: 5px 3px 18px #F0CA4D;
  color: #F7F8F9  ;


}


.label_player_2
{
  background-color: #46B29D;
  width: 700px;
  margin: 20px;
  height: 130px;
  position: relative;
  border-top-left-radius:60px;
  border-bottom-left-radius:60px;
  box-shadow: 5px 3px 18px #46B29D;
  color: white;
}


.table
{
  width: 700px;
  margin:5px;

}



.avatar_human
{
  left: 5px;
  position: absolute;
}

.avatar_bot
{
  right: 5px;
  position: absolute;
}



#name_player_1
{
  margin-top: 1px;
  margin-left: 240px;
  font-size: 120px;
  text-align: center;
  font-family: 'Nanum Pen Script', cursive;

}




#name_player_2
{
margin-top: 40px;
margin-right: 150px;
font-size: 50px;
text-align: center;
font-family: 'Press Start 2P', cursive;

}



 /* table css */
td {
  width: 150px;
  height: 150px;

}

td img
{
    margin-left: 15px;
}


table {
   width: 500px;
   margin:5px;
   height: 500px;
   margin-left: 100px;
}
.vert {
  border-left: 2px solid black;
  border-right: 2px solid black;
}
.hori {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}




#x_0
{
  display: none;
}



#x_1
{
  display: none;
}



#x_2
{
  display: none;
}




#x_3
{
  display: none;
}



#x_4
{
  display: none;
}




#x_5
{
  display: none;
}




#x_0
{
  display: none;
}




#x_6
{
  display: none;
}




#x_7
{
  display: none;
}




#x_8
{
  display: none;
}


#o_0
{
  display: none;
}



#o_1
{
  display: none;
}



#o_2
{
  display: none;
}




#o_3
{
  display: none;
}



#o_4
{
  display: none;
}




#o_5
{
  display: none;
}




#o_0
{
  display: none;
}




#o_6
{
  display: none;
}




#o_7
{
  display: none;
}




#o_8
{
  display: none;
}
