body
{
    background-image: url('../rsc/img/wall_pro.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

td {
border:  2px solid #333;
text-align:  center;
vertical-align:  middle;
font-family:  "Comic Sans MS", cursive, sans-serif;
font-size:  100px;
cursor: pointer;
 margin:5px;
 margin-left: 100px;
 width: 180px;
 height: 180px;
 font-family: 'Permanent Marker', cursive;
 color: white;
 }

table {
border-collapse: collapse;
position: absolute;
left: 35%;
margin-left:;
 margin-top: 100px;
}

table tr:first-child td {
border-top: 0;
}

table tr:last-child td {
border-bottom: 0;
}

table tr td:first-child {
border-left: 0;
}

table tr td:last-child {
border-right: 0;
}

.endgame {
display: none;
width: 500px;
top: 30%;
background-color: #46B29D;
position: absolute;
left: 37%;
padding-top: 50px;
padding-bottom: 50px;
text-align: center;
border-radius: 5px;
color: white;
font-size: 2em;
opacity: 0.7;
}


#replay
{
  border-radius: 100px;
  width: 200px;
  height: 200px;
  position: fixed;
  bottom: 50px;
  left: 50px;
  background-image: url('../rsc/icons/replay_1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;

}

#replay:hover
{
  background-image: url('../rsc/icons/replay_2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#home
{
  position: fixed;
  right: 50px;
  top: 50px;
}
