body
{
    background-image: url('../rsc/img/wall.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.title_game
{
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  color: #506A7A;
  text-shadow: 5px 7px 7px #A0D4F5;

}


.container
{
  /* display in flex de title anf show in the center with the logo  */
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

.logo
{
  /* margin of de title */
  margin-left: 60px;
}


.selections /*container of a selections*/
{
    /* declaring a flex container for the two options of game style */
    display: flex;
    flex-direction: column;
    align-items: center;
}


.selection_1/*container, contain a selelction*/
{
  order: 1;
  /* display in a row inside a selection */
  display: flex;
  flex-direction: row;


  /* starting de makeup of the box */
  border-style: solid;
  border-color: #46B29D;
  margin-top: 50px;
  border-radius: 15px;
  box-shadow: 5px 10px 18px #46B29D;



}





.selection_2 /*container, contain a selelction*/
{
  order: 2;
  /* display in a row inside a selection */
  display: flex;
  flex-direction: row;


  /* starting de makeup of the box */
  border-color: #F0CA4D;
  border-style: solid;
  margin-top: 50px;
  border-radius: 15px;
  box-shadow: 5px 10px 18px #F0CA4D;

}







.entitie/*container of  a picture and input*/
{

  margin: 50px;

}


.entitie_component/* picture || input inside a entitie*/
{
  /* display on block inside a entitie */
  display: block;
}

.avatar /*picture of a gamer*/
{
  margin: 20px;
}

.vs /*vs vector*/
{
  margin:20px;
}



/* Button to strat the game  */
.button_vs_bot
{
  outline: none;
  border: none;
  border-radius: 50px;
  background-image: url('../rsc/img/bot_button.png');
  width: 60px;
  height: 60px;
}

.button_vs_friend
{
  outline: none;
  border:none;
  border-radius: 20px;
  background-image: url('../rsc/img/friend_button.png');
  width: 200px;
  height: 200px;
}




/* badge on the corner identification if type of game, source cloned!!*/
/* http://www.cssportal.com/blog/create-css-notification-badge/ */
.badge_bot {
   position:relative;
}
.badge_bot[data-badge]:after {
  font-family: 'Press Start 2P', cursive;
   content:attr(data-badge);
   position:absolute;
   padding-top: 15px;
   font-size:20px;
   top:-40px;
   right:-60px;
   background:#8EB9A8;
   color:white;
   width:200px;height:40px;
   text-align:center;
   line-height:18px;
   border-radius:10px;
   box-shadow:0 0 1px #333;
   opacity: 0.7;
}


.badge_friend {
   position:relative;
}
.badge_friend[data-badge]:after {
   font-family: 'Nanum Pen Script', cursive;
   content:attr(data-badge);
   position:absolute;
   padding-top: 15px;
   font-size:50px;
   top:-40px;
   right:-100px;
   background:#F0CA4D;
   color:white;
   width:300px;height:40px;
   text-align:center;
   line-height:18px;
   border-radius:10px;
   box-shadow:0 0 1px #333;
   opacity: 0.7;
}

#button_play_bot
{
  display: none;
}


#button_play_friend
{
  display: none;
}
